<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ page.dots }}assets/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="{{ page.dots }}assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ page.dots }}assets/img/favicon.ico">
  <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26196970-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="brand" href="index.htm">{{ site.title }}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li id="index"><a href="{{ page.dots }}index.htm">Home</a></li>
                    <li id="people"><a href="{{ page.dots }}group.htm">People</a></li>
                    <li><a href="{{ page.dots }}res.htm">Research</a></li>
                    <li><a href="{{ page.dots }}publi.htm">Publications</a></li>
                    <li><a href="{{ page.dots }}Nymphalidae.htm">The butterflies</a></li>
                    <li><a href="{{ page.dots }}Vouchers.htm">Voucher Database</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row-fluid">
          <div class="span10">
              <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
      </div>
      <hr>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div>

    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ page.dots }}assets/js/jquery.js"></script>
    <script src="{{ page.dots }}assets/js/bootstrap.min.js"></script>

    <!-- this highlights current tab in navegation bar -->
    <script>
        $(document).ready(function() {
            var pathname = window.location.pathname;

            $(".nav a").each(function(index, value) {
                if (pathname == "/" + $(this).attr('href'))
                    $(this).parent().addClass("active");
            });

            if(pathname == "/") {
                $("#index").addClass("active");
            }
            if(pathname == "/Wahlberg.htm") {
                $("#people").addClass("active");
            }
        });
    </script>
    
  </body>
</html>
